body {
  background-color: #fafafa !important;
}

header {
  background-color: white !important;
  border-bottom: 1px solid #eee;
  font-family: 'Julius Sans One', sans-serif;
}

.navbar-brand, .nav-item {
  color: #00a4d3 !important;
}

.main-bg {
  height: 775px;
  background-image: url('../img/main-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:300px 0;
}

.main-bg-text {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

.main-bg-text-hero,
.main-bg-text-hero-blue {
  font-size: 4.5rem !important;
}

.main-bg-text-hero-blue {
  color:#00a4d3;
  margin-top:20px
}

.inputBox {
  padding:0 10px;
  border: 2px solid #c0c0c0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.7rem;
  vertical-align:top;
  border-radius: 0;
  outline: none;
  color: #929292;
  height:50px;
}

.typeSelect {
  font-size: 1.7rem;
  padding:0px 100px 0px 20px;
  border: 2px solid #c0c0c0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background:url(https://10to8.com/wp-content/themes/W1A/images/down-arrow-grey.svg) 96% / 15% no-repeat;
  color:#929292;
  font-family:'Josefin Sans', sans-serif;
  outline:none;
  height:50px;
}

.divider {
  margin-top: 50px;
}

.col-fluid {
  padding: 0 !important;
}

.searchInfoMain {
  position: relative;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: #555;
  padding-top:5%;
}

.btn-main-custom {
  padding: 13px 60px !important;
  outline: none !important;
  margin-top: 20px;
}

.howItWorks {
  background-image: url('../img/howto-banner.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  padding: 30px;
}

.howItWorks-Icon {
  font-size: 4rem !important;
  margin-top:20px;
}

.howItWorks-Icon-Next {
  color:rgba(256, 256, 256, 0.9);
  margin-top:30px
}

.navbar-fluid {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.footer {
  background-color: rgba(234, 234, 234, 0.6);
  font-family: 'Julius Sans One', sans-serif;
  padding:30px 20px;
  color: #555;
}

.footer-links {
  padding: 10px;
  font-family: 'Julius Sans One', sans-serif;
  display:table;
  margin: 0 auto;
}

.location {
  height: 80%;
  margin-top: 10%;
  background-color: #f7f6f6;
  padding: 30px;
  text-align: center;
  font-family: 'Julius Sans One'
}

.text-main {
  color: #00a4d3;
}

.hr {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.locInput {
  padding: 5px 10px;
  font-family: 'Josefin Sans';
  font-size: 18px;
  border: #bbb 1px solid;
  border-radius: 3px;
  width: 300px;
  outline: none;
  color: #999;
}

div.pac-container.pac-logo::after {
  display: none;
}

.searchresults-main {
  color: #00c8f8;
  float: left;
  margin-top: 10px;
}

.results {
  font-family: 'Julius Sans One';
  padding: 30px 50px;
}

.filter {
  float: right;
}

.clearfloat {
  clear: both;
}

.result {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 5%;
  border: 1px solid #d7d7d7;
}

.result-img {
  background-color: white;
  border-radius: 10px;
}

.favorite,
.locationPointer,
.star-rating {
  font-size: 40px !important;
  color: #ccc;
}

.star-on {
  color: #f4eb49;
}
.desc {
  font-family: 'Josefin Sans', sans-serif;
}


.main-banner {
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.profile-bg {
  margin-top: 87px;
  background-image: url(../img/profile-bg.jpg);
  background-repeat:  no-repeat;
  background-size: cover;
  background-position:  center center;
  padding: 40px;
  min-height: 100px;
  text-align:  center;
  color: white;
  font-family: 'Julius Sans One'
}

.profile-img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

.profile-panel {
  font-family: 'Text Me One';
  padding: 10px 30px !important;
}

.review {
  background-color: white;
  border: 1px solid #eee;
  padding: 20px 10px;
  border-bottom: none;
}

.review:last-of-type {
  border-bottom: 1px solid #eee;
}

.review-profile {
  text-align: center;
}

.review-content {
  border-left: 1px solid #eee;
}

.review-username {
  margin-top: 10px;
}

hr.review-line-sm {
  display: none
}

@media (max-width: 768px) {
  .review-content {
    border: none;
    text-align: center;
  }
  hr.review-line-sm {
    display: block;
  }
}

.star-sm {
  font-size: 25px !important;
}

.profile-icon {
  font-size: 50px !important;
}

.vr {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  height: 100px;
  margin-left: 50%;
}

.modal {
  top: 100px;
}

.form-column {
  float: left;
  margin: 20px;
}

label {
  display: block;
}

.loading {
  display: block;
  margin: 0 auto;
}

.btn-add-task {
  color: #00a4d3
}

.btn-more-info {
  outline: none !important;
  margin-top: 20px;
}

td {
  padding-right: 1em;
}

.favorite-on {
  color: #f77;
}